.DS_Store
*.log
.idea/
.vscode/

/backend/kanban-tasks
/backend/kanban-tasks.exe

/backend/.env*

/frontend/node_modules/

/frontend/dist/
/frontend/build/

/frontend/npm-debug.log*
/frontend/yarn-error.log*
/frontend/.env*
/frontend/.npm